<div id="avatar-modal" class="p-4 hidden border rounded-md" aria-label="Upload avatar pop-up">
    <div class="text-right"><button class="bg-transparent border-none" id="close-avatar-modal-btn" aria-label="Close pop-up"><i class="fa-solid fa-xmark text-3xl text-gray-500 cursor-pointer ml-auto"></i></button></div>
    <h2 class="mb-2 text-xl font-bold">Upload a new avatar:</h2>
    <form class="flex flex-col" action="/myavatar?_method=PATCH" method="POST" enctype="multipart/form-data">
        <label class="mb-4" for="inputTag">
            <input class="mb-4 hidden" type="file" name="avatar" id="inputTag">
            <div class="border px-2 cursor-pointer flex items-center">
                <div class="border-r w-fit py-2 pr-2 h-full">
                    Browse
                </div>
                <span class="pl-2 overflow-hidden" id="imageName"></span>
            </div>
        </label>   
        <button class="ml-auto w-fit transition-colors border rounded-full bg-black hover:bg-gray-800 text-white text-sm font-bold py-2 px-3">Upload</button>
    </form>
</div>

<script src="/js/uploadAvatarModal.js"></script>