<div id="edit-tweet-modal" class="py-3 px-4 border rounded-md flex flex-col items-end hidden" aria-label="Edit tweet pop-up">
    <button class="bg-transparent border-none" aria-label="Close pop-up"><i id="close-tweet-modal-btn" class="fa-solid fa-xmark text-3xl text-gray-500 cursor-pointer"></i></button>
    <form id="edit-tweet-form" class="w-full" action="/" method="POST">
        <textarea class="text-xl w-full p-2 block h-16 mb-2 focus:outline-none" name="text" maxlength="280" autocomplete="off" aria-label="Your tweet" required></textarea>
        <button class="bg-sky-500 py-1.5 px-4 rounded-3xl text-white ml-auto block">Edit</button>
    </form>
</div>

<script src="/js/editTweetModal.js"></script>