@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
      @apply text-gray-800;
    } 
  }

textarea {
  resize: none;
}

#edit-tweet-modal {
  position: fixed; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2;
  
  width: 37%;

  background-color: white;
}

#avatar-modal {
  position: fixed; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2;
  
  width: 20%;

  background-color: white;
}

#modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgb(55, 55, 55);
  opacity: 75%
}

#likes-hover:hover {
  color: rgb(233, 0, 50)
}