@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
      @apply text-gray-800;
    } 
  }

textarea {
  resize: none;
}

#modal {
  position: fixed; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1;
  
  width: 37%;

  background-color: white;
}