<% layout('layouts/boilerplate') %>
<div class="h-screen flex justify-center items-center">
    <div class="flex flex-col items-center">
        <h1 class="text-4xl font-bold mb-5">Create your account</h1>
        <form class="flex flex-col items-center"action="/register" method="POST">
            <input class="border rounded border-transparent outline outline-1 outline-gray-200 p-3 w-80 mb-4 focus:outline-sky-500 focus:outline-2" type="email" id="email" name="email" placeholder="Email" required>
            <input class="border rounded border-transparent outline outline-1 outline-gray-200 p-3 w-80 mb-4 focus:outline-sky-500 focus:outline-2" type="username" id="username" name="username" placeholder="Username" required>
            <input class="border rounded border-transparent outline outline-1 outline-gray-200 p-3 w-80 mb-4 focus:outline-sky-500 focus:outline-2" type="password" id="password" name="password" placeholder="Password" required>
            <button class="transition-colors border rounded-full bg-black hover:bg-gray-800 text-white font-bold p-3 w-80 mb-4">Register</button>
        </form>
    </div>
</div>
